.case-editor-canvas {
  border: solid 1px #eee;
  background: white;
  width: 100%;
  border-radius: 10px;
  box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.35);
  transition: all 200ms ease-in-out;

  &:hover {
    box-shadow: 0 35px 60px -12px rgba(0, 0, 0, 0.35);
  }
}
