.textarea {
  border: 1px solid rgba(0, 0, 0, 0.35);
}

.counter {
  display: flex;
  justify-content: end;
}

.slider-fields {
  .field {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
  }
}
