<form [formGroup]="settingsFormGroup" class="column">
  <section>
    <section>
      <div class="field is-clearfix">
        <label class="label">Text</label>
        <div class="control">
          <textarea #textAreaElement class="textarea" formControlName="text" maxlength="500" rows="1"></textarea>
          <small class="help counter"> {{textAreaElement.value.length}} / 500</small>
        </div>
      </div>
    </section>
    <section class="slider-fields">
      <section class="columns">
        <div class="field column">
          <label class="label">Position X</label>
          <input class="slider is-fullwidth is-success" formControlName="positionX" max="336" min="20" step="1"
                 type="range">
        </div>
        <div class="field column">
          <label class="label">Position Y</label>
          <input class="slider is-fullwidth is-success" formControlName="positionY" max="610" min="20" step="1"
                 type="range">
        </div>
      </section>
      <section class="columns">
        <div class="field column"><label class="label">Font Size</label>
          <input class="slider is-fullwidth is-info" formControlName="fontSize" max="36" min="0" step="1" type="range">
        </div>
        <div class="field column"><label class="label">Line Height</label>
          <input class="slider is-fullwidth is-info" formControlName="lineHeight" max="36" min="0" step="1"
                 type="range">
        </div>
      </section>

      <section class="columns">
        <div class="field column">
          <label class="label">Background Color</label>
          <input formControlName="backgroundColor" type="color">
        </div>
        <div class="field column">
          <label class="label">Text Color</label>
          <input formControlName="textColor" type="color">
        </div>
      </section>

    </section>
  </section>
</form>
