<div class="column">
  <section>
    <section>
      <div class="field"><label class="label">Text</label>
        <div class="control is-clearfix">
          <textarea class="textarea" maxlength="500" rows="1"></textarea>
          <small class="help counter is-invisible"> 93 / 500</small>
        </div>
      </div>
    </section>
    <section class="slider-fields">
      <div class="columns">
        <div class="field column"><label class="label">Position X</label>
          <input class="slider is-fullwidth is-success" max="100" min="0" step="1" type="range" value="50">
        </div>
        <div class="field column"><label class="label">Position Y</label>
          <input class="slider is-fullwidth is-success" max="100" min="0" step="1" type="range" value="50">
        </div>
      </div>
      <section class="columns">
        <div class="field column"><label class="label">Width</label>
          <input class="slider is-fullwidth is-warning" max="100" min="0" step="1" type="range" value="50">
        </div>
        <div class="field column"><label class="label">Height</label>
          <input class="slider is-fullwidth is-warning" max="100" min="0" step="1" type="range" value="50">
        </div>
      </section>
      <section class="columns">
        <div class="field column"><label class="label">Font Size</label>
          <input class="slider is-fullwidth is-info" max="100" min="0" step="1" type="range" value="50">
        </div>
        <div class="field column"><label class="label">Line Height</label>
          <input class="slider is-fullwidth is-info" max="100" min="0" step="1" type="range" value="50">
        </div>
      </section>
      <section class="columns">
        <div class="field column"><label class="label">Horizontal Align</label>
          <div class="select is-info">
            <select>
              <option value="left">Left</option>
              <option value="center">Center</option>
              <option value="right">Right</option>
            </select>
          </div>
        </div>
        <div class="field column"><label class="label">Vertical Align</label>
          <div class="select is-info">
            <select>
              <option value="left">Top</option>
              <option value="center">Middle</option>
              <option value="right">Button</option>
            </select>
          </div>
        </div>
      </section>
    </section>
  </section>
</div>
